

<div id="HeadContainer2" >
  <div id="HeadlineDiv1">
    <h1>About Me.</h1>
  </div>
  <div class="paragraph1">
    <p>Hi, My name is Sidharam Patil and I'm a Software Engineer. Welcome to my Personal Site!</p>
    <p>Based in India, Specializing in frontend development for complex scalable web app.
    Experience of building Web and Desktop winform applications with Angular, TypeScript,
    HTML, CSS and web API using C#.</p>
    <p>Currently working at Altera-Allscripts Digital Health, Pune, India. Delivering solutions to Sophisticated problems.</p>
  </div>

    <div id="HeadlineDiv2">
      <h1>Send A Message.</h1>
    </div>
    <div id="actualForm"  >
      <div id="leftSide" >
        <app-contact-form></app-contact-form>
      </div>
      <!--<div id="righttSide" style="border:2px solid yellow">

      </div>-->
    </div>

  <!--<div id="image" class="paragraph">
    <img src="../assets/ATSImage.png" alt="Alternate Text" />
  </div>-->
</div>

