

<div id="HeadContainer1">
  <div id="HeadlineDiv">
    <h1>What is an Applicant Tracking System (ATS)?</h1>

  </div>
  <div class="paragraph">
    <p>An ATS, or Applicant Tracking System, is a software tool designed to automate and enhance recruitment.
    It is a central hub for managing job postings, storing applicant data, and streamlining the hiring process.
    ATS plays a key role in helping recruiters sift through large volumes of applications. <span>It uses advanced algorithms
    to scan resumes and applications for specific keywords and criteria, ensuring that only the most relevant candidates
    are shortlisted for further review.</span>
     This not only saves time
    but also helps in maintaining a high standard of candidate selection. </p>
  </div>
  <div id="image" class="paragraph">
    <!--<img src="src/assets/atsimage.jpeg" />
    <img src="src/assets/atg.JPG" />-->
    <img src="https://raw.githubusercontent.com/sidharampatil1999/ImageRepo/738b44a8e14dcaa6cad8a36015e87bf4d3b6d1cc/atsimage.jpeg" alt="Alternate Text" />
  </div>
</div>

